flake8
pytest
mypy
coverage
pylint
black
flake8-docstrings
flake8-todo
pep8-naming
flake8-comprehensions
flake8-import-order
flake8-bugbear
autoflake
bandit
pandas-stubs
types-python-dateutil
types-mock
types-openpyxl
flake8-colors
coverage-badge
types-Flask
types-Werkzeug
PyJWT
types-PyJWT
Flask-SQLAlchemy
